<div id="layout-vertical-navigation-fullwidth-toolbar" layout="column" flex class="full-height">
  <header>
    <md-toolbar id="toolbar" class="md-whiteframe-5dp fix" layout="row" layout-align="center start"  ui-view="header"></md-toolbar>
  </header>
  <div id="main-container" layout="column" flex class="full-height">
    <div id="content-container" layout="column" flex class="full-height">
      <div id="content" ui-view="content" class="full-height" layout="column"></div>
    </div>
    <div style="clear: both"></div>

    <div class="footer-copyright-section">
      <div layout="row" layout-align="center center">
        <div flex="85">
          &copy; 2017, Finnov Software Services Private Limited. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>

</div>
