#toolbar{
  height:64px;
  /*background:  $color-white;*/
  background: #2e5eac;
  /*color: $color-nav-toolbar;*/
  color: $color-white;
  &.fix{
    position: fixed;
  }


  .logo{
    img {
      height:50px;
      //width:64px;
    }

    h2{
      margin-left: 10px;
      font-size: 28px;
      /*font-weight: 700;*/
    }
  }

  .nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:100%;
    /*color: $color-nav-toolbar-link;*/
    color: $color-white;

    li {
      float: left;
      height:100%;

      .link {
        font-size: 17px;
        /*font-weight: 600;*/
        display: block;
        padding: 21px 5px;
        margin-right: 40px;
        cursor: pointer;

        &:hover{
          /*color: $color-nav-toolbar;*/
          color: $color-white;
        }
      }

      &.active{
        .link{
          /*border-bottom: 3px solid $color-default;*/
          /*color: $color-default;*/
          color: $color-white;
        }
      }
    }
  }

  md-icon.md-default-theme, md-icon{
    color: $color-label !important;
  }
}
