<div class="md-toolbar-tools">
<!--<div layout="row" align="center center" flex>-->
  <div class="logo" layout="row" layout-align="start center">
     <img src="assets/images/logo.png">
    <h2 md-truncate>FINNOV</h2>
  </div>

  <span flex></span>
  <ul class="nav-menu" hide-sm hide-xs>
    <li class="active">
      <a class="link">Home</a>
    </li>
    <li>
      <a class="link">About Us</a>
    </li>
    <li>
      <a class="link">Contact Us</a>
    </li>
    <li ng-if="header.loginStatus == false">
      <a class="link" ng-click="header.preLogin($event,'login')">Login</a>
    </li>
    <li ng-if="header.loginStatus == false">
      <a class="link" ng-click="header.preLogin($event, 'register')">Register</a>
    </li>
    <li ng-if="header.loginStatus == true">
      <a class="link" ng-click="header.preLogin($event, 'register')">Rahul Jadav</a>
    </li>
  </ul>

  <md-menu md-position-mode="target-right target" hide-gt-sm>
    <md-button ng-click="$mdOpenMenu()" class="md-icon-button" aria-label="Open some menu">
      <md-icon md-menu-origin class="material-icons">menu</md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button>
          Home
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>
          About Us
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>
          Contact
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="header.preLogin($event, 'login')">
          Login
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="header.preLogin($event, 'register')">
          Register
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>


