<!--<div ng-if="!pre.showMobileScreen && pre.showPasswordScreen && !pre.showOtpScreen">-->
  <md-toolbar class="auth-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="pre.back()">
        <md-icon class="material-icons">arrow_back</md-icon>
      </md-button>
      <div layout="column" >
        <h1>Enter Password</h1>
      </div>
      <span flex layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="pre.cancel()">
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
        </span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form ng-cloak name="passwordForm">
        <div layout="column">
          <div layout="row">
            <p flex>
              Mobile Number: <strong>{{pre.cred.mobileNumber}}</strong>
            </p>
            <md-button class="md-icon-button md-accent" ng-click="pre.back()">
              <md-tooltip>Edit</md-tooltip>
              <md-icon class="material-icons">edit</md-icon>
            </md-button>
          </div>

          <p class="success fs-10" ng-if="pre.passwordOTPGenerated">
            One Time Password Generated. A One Time Password was sent to the mobile number you have Provided.
          </p>

          <md-input-container>
            <label ng-if="!pre.passwordOTPGenerated">Password</label>
            <label ng-if="pre.passwordOTPGenerated">OTP</label>
            <input type="password" name="password" ng-model="pre.cred.password" required/>
            <div ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$dirty || passwordForm.password.$touched">
              <div ng-message="required">Please enter Password/OTP. This is Required.</div>
            </div>
          </md-input-container>
          <p class="fs-13">
            You can also login by generating One Time Password. <br/>
            Click here to <a href="javascript:void(0)" ng-click="pre.generateOtp()">Generate OTP</a>
          </p>
          <md-button class="md-raised md-primary" ng-disabled="!passwordForm.$valid" ng-click="pre.verify()">
            Submit
          </md-button>
        </div>
      </form>
    </div>
  </md-dialog-content>
<!--</div>-->
