<md-dialog id="auth-dialog" flex="30">
  <form ng-cloak name="loginForm">
    <md-toolbar class="auth-toolbar">
      <div class="md-toolbar-tools">
        <span flex></span>
        <div layout="column">
          <h1>Underwriters Login</h1>
        </div>
        <span flex layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="login.cancel()">
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
        </span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column">
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="login.cred.email" ng-pattern="/^.+@.+\..+$/" required />
            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty || loginForm.email.$touched">
              <div ng-message="required">Please enter Email. This is Required.</div>
              <div ng-message="pattern">Please enter valid Email address. This doesn't look like Email</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="login.cred.password" name="password" required />
            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty || loginForm.password.$touched">
              <div ng-message="required">Please enter Password. This is Required.</div>

            </div>
          </md-input-container>

          <md-button class="md-raised md-primary no-margin" ng-disabled="!loginForm.$valid">
            Login
          </md-button>

          <!--<md-button class="md-accent" ng-click="login.forgetPassword()">-->
            <!--Forgot Password?-->
          <!--</md-button>-->
        </div>
      </div>
    </md-dialog-content>
    <!--<md-dialog-actions layout="row">-->
      <!--<div layout="row" layout-margin flex="100">-->
        <!--<span flex>-->
          <!--<b>Don't have Account?</b>-->
        <!--</span>-->
        <!--<md-button class="md-accent" ng-click="login.signup()">-->
          <!--Register-->
        <!--</md-button>-->
      <!--</div>-->

    <!--</md-dialog-actions>-->
  </form>
</md-dialog>
