<md-dialog id="auth-dialog" flex="30" class="forget-password">
  <form ng-cloak name="loginForm">
    <md-toolbar class="auth-toolbar">
      <div class="md-toolbar-tools">
        <span flex></span>
        <div layout="column">
          <h1>Reset Password</h1>
        </div>
        <span flex layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="fp.cancel()">
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
        </span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column">
          <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="fp.cred.email" ng-pattern="/^.+@.+\..+$/" required />
            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty || loginForm.email.$touched">
              <div ng-message="required">Please enter Email. This is Required.</div>
              <div ng-message="pattern">Please enter valid Email address. This doesn't look like Email</div>
            </div>
          </md-input-container>

          <md-button class="md-raised md-accent" ng-disabled="!loginForm.$valid">
            Send Reset Link
          </md-button>

        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
