body{
  background: $color-bg-dark;
}

#main-container{
  /*padding-top: 60px;*/
  /*padding-bottom: 45px;*/

  md-content{
    background:  #fff !important;
  }

  .section-dark {
    background: $color-bg-dark;
  }

  .section-white {
    background: $color-white;
  }

  .section-primary {
    background: $color-default;
  }

  .section-title-bg {
    display: inline;
    font-size: 115px;
    font-weight: 800;
    //height: 100%;
    left: -415px;
    opacity: 0.1;
    position: absolute;
    //top: -14px;
    width: 100%;
    text-align: center;
    color: $color-default;
    margin: 0 0 0 0;
    line-height: 1.25em;
  }

  .section-title {
    font-size: 48px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    top: 15px;
  }

  blockquote {
    padding: 10px 20px;
    font-size: 18px;
    border-left: 2px solid $color-default;
    text-align: justify;
  }


  .file-upload-container{
    width:100%;
    background: $color-file-upload-container;
    border: 2px dashed $color-border;
    min-height: 100px;
    padding: 20px;

    md-icon,
    p {
      color: #97A1A8;
    }
  }


  .application-container{
    md-tabs-canvas{
      height: 59px;
      md-pagination-wrapper{
        height: inherit;

        .md-tab {
          line-height: 40px;
          font-size: 15px;
        }
      }
    }
  }

}
.footer-container {
  background: $color-footer-container;
  padding: 55px 0;

  .footer-content{
    .footer-title{
      color: $color-white;
      font-size: 20px;
      font-weight: 700;
    }

    p{
      color: $color-footer-content;
    }
  }


}
.footer-copyright-section{
  /*line-height: 45px;*/
  height: 45px;
  background: #222222;
  color: #999;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right:0;
}

.owl-dots {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ccc;
  background: $color-label;
  margin-right: 5px;
  display: inline-block;
  &.active {
    background: $color-default;
  }
}

.hero-section {
  height: 150px;
  background: $color-default;
  color: $color-white;
  padding-top: 16px;
}

.hero-section-overlay{
  margin-top: -60px;
}
