body{
  background: #f3f3f3;
}

#main-container{
  padding-top: 60px;
  padding-bottom: 45px;

  .section-dark {
    background: $color-bg-dark;
  }

  .section-white {
    background: $color-white;
  }

  .section-title-bg {
    display: inline;
    font-size: 115px;
    font-weight: 800;
    //height: 100%;
    left: -415px;
    opacity: 0.1;
    position: absolute;
    //top: -14px;
    width: 100%;
    text-align: center;
    color: $color-default;
    margin: 0 0 0 0;
    line-height: 1.25em;
  }

  .section-title {
    font-size: 48px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    top: 15px;
  }

  blockquote {
    padding: 10px 20px;
    font-size: 18px;
    border-left: 2px solid $color-default;
  }


  .file-upload-container{
    width:100%;
    background: $color-file-upload-container;
    border: 2px dashed $color-border;
    min-height: 100px;
    padding: 20px;

    md-icon,
    p {
      color: #97A1A8;
    }
  }

}
.footer-copyright-section{
  line-height: 45px;
  background: #222222;
  color: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
}
