<div layout="row" layout-align="center start" flex id="new-application">
  <div layout="column" flex="85">
    <h1>New Application</h1>
    <md-content class="md-whiteframe-2dp brad-3 p-16 mb-10" layout="column">
      <h2 class="sub-section-title">
        Upload Bank Statement
      </h2>
      <md-input-container>
        <label>Select Bank</label>
        <md-select ng-model="app.newApp.selectedBank">
          <md-option value="icici">ICICI Bank</md-option>
          <md-option value="kotak">Kotak Mahindra Bank</md-option>
          <md-option value="hdfc">HDFC Bank</md-option>
        </md-select>
      </md-input-container>

      <div layout="column" layout-align="center center" class="file-upload-container" ng-model="app.newApp.selectedFiles" ngf-drop accept="application/pdf" ngf-multiple="true">
        <md-icon class="material-icons fs-50">cloud_upload</md-icon>
        <h3 class="mv-5 fw-600 fs-17">Drag & Drop Files Here</h3>
        <p class="fs-12">or</p>

        <md-button class="md-raised md-accent" ng-model="app.newApp.selectedFiles" ngf-drop ngf-select accept="application/pdf" ngf-multiple="true">
          Browse files
        </md-button>
      </div>

      <div layout="column" ng-if="app.newApp.selectedFiles" class="mt-20">
        <span><strong>Uploaded File : </strong></span>
        <div layout="row" ng-repeat="selectedFile in app.newApp.selectedFiles" layout-align="center center">
          <span flex>{{selectedFile.name}}</span>
          <span>
            <md-button class="md-raised md-primary" ng-click="app.uploadBankStatement($event,selectedFile)">
              Upload File
            </md-button>
          </span>
        </div>
      </div>
    </md-content>

    <md-content class="md-whiteframe-2dp brad-3 p-16 mv-10" layout="column">
      <h2 class="sub-section-title">
        Upload Cibil
      </h2>

      <div layout="column" layout-align="center center" class="file-upload-container mt-20" ng-model="app.newApp.selectedCibilFile" ngf-drop accept="application/pdf" ngf-multiple="true">
        <md-icon class="material-icons fs-50">cloud_upload</md-icon>
        <h3 class="mv-5 fw-600 fs-17">Drag & Drop File Here</h3>
        <p class="fs-12">or</p>

        <md-button class="md-raised md-accent" ng-model="app.newApp.selectedCibilFile" ngf-drop ngf-select accept="application/pdf" ngf-multiple="true">
          Browse files
        </md-button>
      </div>

      <div layout="column" ng-if="app.newApp.selectedCibilFile" class="mt-20">
        <span><strong>Uploaded File : </strong></span>
        <div layout="row" ng-repeat="selectedFile in app.newApp.selectedCibilFile" layout-align="center center">
          <span flex>{{selectedFile.name}}</span>
          <span>
            <md-button class="md-raised md-primary">
              Upload File
            </md-button>
          </span>
        </div>
      </div>

    </md-content>
  </div>
</div>
