<div id="home" layout="column" flex>
  <div class="hero" layout="row" flex>
    <img src="/assets/images/main.jpg">
    <div class="hero-content" layout="column" flex layout-align="center center">
      <h1 class="hero-heading">Welcome to Finnov</h1>
      <!-- <h1 class="hero-heading">Thanks for Landing Here!</h1> -->
      <h5 class="hero-sub-heading">Easy, Fast and Secure</h5>
      <!-- <h5 class="hero-sub-heading">We are in the process of creating a better world for Finance. Cheer up... We are COMING SOON!!!</h5> -->
      
      <div layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-align="center center">

        <md-button class="hero-button md-raised md-primary">
          <md-tooltip>
            Finnov is easy, fast and quick.<br/>
            Just few clicks and you are done.
          </md-tooltip>
          <i class="fa fa-inr" aria-hidden="true"></i>
          Apply For Loan
        </md-button>

        <md-button class="hero-button md-raised" ui-sref="app.main_finnov-score.reports">
          <md-tooltip>
            Finnov score helps you checking your eligibility <br/>
            to get any kind of loan.
          </md-tooltip>
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          Know my score
        </md-button>
      </div>
    </div>
  </div>


  <div class="about-us section-white">
    <div layout="row" flex layout-align="center center">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <h1 class="section-title-bg" hide-sm hide-xs>About Finnov</h1>
          <h1 class="section-title">About Finnov</h1>
        </div>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <blockquote>
            At Finnov we provide technical and business solutions to the financial institutions and their associates. Our major focus is to ease out the overall loan procedure and bring business to small and big financial institutions. We have various ranking and scoring algorithms to rank a loan provider and consumer. We also support MSMEs and SMEs for their business growth. We have a strong technical team which is led by IITians and able to solve any problem quickly and efficiently.
            <strong>Finnov</strong> is passionate to change the finance industry traditions. We continously try to
            accelerate the process of the industry so that both customer and financial
            institutions both can do their jobs easily and faster.
          </blockquote>
        </div>
      </div>
    </div>

    <div layout="row" flex layout-align="center center" class="mt-80">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-wrap>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center" >
          <i class="fa fa-rocket" aria-hidden="true"></i>
          <h2>Fast</h2>
          <p>Analysis of your credibility in seconds.</p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <h2>Secure</h2>
          <p>Guarantee of not sharing your personal and financial data with anyone. </p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-university" aria-hidden="true"></i>
          <h2>Banks & NBFCs</h2>
          <p>Don't go empty handed, system is backed by financial institutions.</p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-inr" aria-hidden="true"></i>
          <h2>Best Rates & Tenures</h2>
          <p>We find the best lender for you with best interest rates and tenures.</p>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="section-dark our-team">-->
    <!--<div layout="row" flex layout-align="center center">-->
      <!--<div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>-->
        <!--<div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">-->
          <!--<h1 class="section-title-bg" hide-sm hide-xs>Our Team</h1>-->
          <!--<h1 class="section-title">Our Team</h1>-->
        <!--</div>-->
        <!--<div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">-->
          <!--<blockquote>-->
            <!--Our team is proficient in an array of services that can help elevate and empower your company or organization.-->
          <!--</blockquote>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div layout="row" flex layout-align="center center">-->
      <!--<div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>-->
        <!--<data-owl-carousel class="owl-carousel" data-options="{nav:false,dots: true,items:4}">-->
          <!--<md-card owl-carousel-item="" ng-repeat="i in [1]" class="item team-member-widget mh-10">-->
            <!--<img src="assets/images/team-umesh-sinha.jpg"/>-->
            <!--<div class="team-member-info">-->
              <!--<h2 class="fs-20 fw-700">Umesh Sinha-->
                <!--<a href="https://www.linkedin.com/in/umesh-sinha-845b1214/" target="_blank">-->
                  <!--<span class="fa-stack">-->
                    <!--<i class="fa fa-square-o fa-stack-2x"></i>-->
                    <!--<i class="fa fa-linkedin fa-stack-1x"></i>-->
                  <!--</span>-->
                <!--</a>-->
              <!--</h2>-->
              <!--&lt;!&ndash;<div layout="row" layout-align-gt-sm="center center" class="social-media" layout-margin>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-facebook"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-linkedin"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</md-card>-->

          <!--<md-card owl-carousel-item="" class="item team-member-widget mh-10">-->
            <!--<img src="assets/images/team-sanjay-kumar.jpg"/>-->
            <!--<div class="team-member-info">-->
              <!--<h2 class="fs-20 fw-700">Sanjay Kumar-->
                <!--<a href="https://www.linkedin.com/in/sanjay-kumar-0a9b87/" target="_blank">-->
                  <!--<span class="fa-stack">-->
                    <!--<i class="fa fa-square-o fa-stack-2x"></i>-->
                    <!--<i class="fa fa-linkedin fa-stack-1x"></i>-->
                  <!--</span>-->
                <!--</a>-->
              <!--</h2>-->
            <!--</div>-->
          <!--</md-card>-->

          <!--<md-card owl-carousel-item="" class="item team-member-widget mh-10">-->
            <!--<img src="assets/images/team-manish-mishra.jpg"/>-->
            <!--<div class="team-member-info">-->
              <!--<h2 class="fs-20 fw-700">Manish Mishra-->
                <!--<a href="https://www.linkedin.com/in/mishra9manish/" target="_blank">-->
                  <!--<span class="fa-stack">-->
                    <!--<i class="fa fa-square-o fa-stack-2x"></i>-->
                    <!--<i class="fa fa-linkedin fa-stack-1x"></i>-->
                  <!--</span>-->
                <!--</a>-->
              <!--</h2>-->
            <!--</div>-->
          <!--</md-card>-->

          <!--<md-card owl-carousel-item="" class="item team-member-widget mh-10">-->
            <!--<img src="assets/images/team-vj.jpg"/>-->
            <!--<div class="team-member-info">-->
              <!--<h2 class="fs-20 fw-700">Vishwajeet Singh-->
                <!--<a href="https://www.linkedin.com/in/vishwajeet-singh-4916202a/" target="_blank">-->
                  <!--<span class="fa-stack">-->
                    <!--<i class="fa fa-square-o fa-stack-2x"></i>-->
                    <!--<i class="fa fa-linkedin fa-stack-1x"></i>-->
                  <!--</span>-->
                <!--</a>-->
              <!--</h2>-->
            <!--</div>-->
          <!--</md-card>-->

          <!--<md-card owl-carousel-item="" class="item team-member-widget mh-10">-->
            <!--<img src="assets/images/team-manish-meena.jpg"/>-->
            <!--<div class="team-member-info">-->
              <!--<h2 class="fs-20 fw-700">Manish Meena-->
                <!--<a href="https://www.linkedin.com/in/manish-meena-3aa09040/">-->
                  <!--<span class="fa-stack">-->
                    <!--<i class="fa fa-square-o fa-stack-2x"></i>-->
                    <!--<i class="fa fa-linkedin fa-stack-1x"></i>-->
                  <!--</span>-->
                <!--</a>-->
              <!--</h2>-->
            <!--</div>-->
          <!--</md-card>-->


        <!--</data-owl-carousel>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="how-it-works section-white">-->
    <!--<div layout="row" flex layout-align="center center">-->
      <!--<div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>-->
        <!--<div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">-->
          <!--<h1 class="section-title-bg" hide-sm hide-xs>How it Works</h1>-->
          <!--<h1 class="section-title">How it Works</h1>-->
        <!--</div>-->
        <!--<div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">-->
          <!--<blockquote>-->
            <!--We always try to keep our customers happy by setting up easy and fast process. For that we are always working hard to improve our system better and better.-->
            <!--<b>Just a few Clicks and you are done.</b>-->
            <!--&lt;!&ndash;<br/>&ndash;&gt;-->
            <!--&lt;!&ndash;<md-button class="md-accent">&ndash;&gt;-->
              <!--&lt;!&ndash;How it works <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
          <!--</blockquote>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div layout="row" flex layout-align="center center" hide-sm hide-xs>-->
      <!--<div flex="85" flex-sm="100" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-wrap>-->
        <!--<div flex="25" class="process" layout="column">-->
          <!--<div class="line"></div>-->
          <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Log in</h3>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div flex="25" class="process" layout="column">-->
          <!--<div class="line"></div>-->
          <!--<i class="fa fa-file-text-o" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Upload Bank <br/> statement</h3>-->
          <!--</div>-->

        <!--</div>-->

        <!--<div flex="25" class="process" layout="column">-->
          <!--<div class="line"></div>-->
          <!--<i class="fa fa-cogs" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Our Algorithm will<br/> Process it</h3>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div flex="25" class="process" layout="column">-->
          <!--<div class="line-down"></div>-->
          <!--<i class="fa fa-tachometer" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Get Finnov Score</h3>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div flex="25" class="process mt-40" layout="column">-->
          <!--<div class="line-rev"></div>-->
          <!--<i class="fa fa-inr" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Loan Dispatched</h3>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div flex="25" class="process mt-40" layout="column">-->
          <!--<div class="line-rev"></div>-->
          <!--<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Loan Approved</h3>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div flex="25" class="process mt-40" layout="column">-->
          <!--<div class="line-rev"></div>-->
          <!--<i class="fa fa-handshake-o" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Get Best Rates</h3>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div flex="25" class="process mt-40" layout="column">-->

          <!--<i class="fa fa-address-card-o" aria-hidden="true"></i>-->
          <!--<div layout="row" layout-align="start center">-->
            <!--<h3>Upload KYC <br/> documents</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="contact-us section-white">-->
    <!--<div layout="row" flex layout-align="center center">-->
      <!--<div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>-->
        <!--<div layout="column" flex="50" flex-sm="100" flex-xs="100">-->
          <!--<h1 class="section-title-bg" hide-sm hide-xs>Contact Us</h1>-->
          <!--<h1 class="section-title">Contact Us</h1>-->
          <!--<div layout="row" layout-wrap class="mt-100" hide-sm hide-xs>-->
            <!--&lt;!&ndash;<img src="../assets/images/contactus.png" class="contact-us-image">&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
        <!--<div layout="row" flex="50" layout-align="start center" layout-wrap flex-sm="85" flex-xs="100">-->
          <!--<form name="contactForm" layout="column" flex="100" class="contact-form">-->
            <!--<md-input-container class="md-accent" >-->
              <!--<label>Name</label>-->
              <!--<input type="text" name="contactName" ng-model="home.contact.name" required/>-->
              <!--<div ng-messages="contactForm.contactName.$error" ng-if="contactForm.contactName.$dirty || contactForm.contactName.$touched">-->
                <!--<div ng-message="required">Please enter your name. This is Required.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
            <!--<md-input-container class="md-accent" >-->
              <!--<label>Email</label>-->
              <!--<input type="email" ng-model="home.contact.email" name="email" required ng-pattern="/^.+@.+\..+$/"/>-->
              <!--<div ng-messages="contactForm.email.$error" ng-if="contactForm.email.$dirty || contactForm.email.$touched">-->
                <!--<div ng-message="required">Please enter your Email address. This is Required.</div>-->
                <!--<div ng-message="pattern">Please enter valid Email address. This doesn't look like Email</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
            <!--<md-input-container class="md-accent" >-->
              <!--<label>Subject</label>-->
              <!--<input type="text" name="subject" ng-model="home.contact.subject" required/>-->
              <!--<div ng-messages="contactForm.subject.$error" ng-if="contactForm.subject.$dirty || contactForm.subject.$touched">-->
                <!--<div ng-message="required">Please enter Subject. This is Required.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
            <!--<md-input-container class="md-accent">-->
              <!--<label>Message</label>-->
              <!--<textarea name="message" ng-model="home.contact.message" rows="5" required></textarea>-->
              <!--<div ng-messages="contactForm.message.$error" ng-if="contactForm.message.$dirty || contactForm.message.$touched">-->
                <!--<div ng-message="required">Please enter Message. This is Required.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
          <!--</form>-->
          <!--<md-button class="md-raised md-accent send-button" ng-disabled="!contactForm.$valid">-->
            <!--<i class="material-icons">message</i>-->
            <!--Send Message-->
          <!--</md-button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="footer-container" id="contact-us">
    <div layout="row" layout-align="center center">
      <div flex="85" layout-gt-sm="row" layout-sm="column" layout-xs="column">
        <!--<div flex="25" flex-sm="100" flex-xs="100" layout="column" layout-margin class="footer-content">-->
        <!--<h3 class="footer-title">About FINNOV</h3>-->
        <!--<p>-->
        <!--<strong>Finnov</strong> is passionate to change the finance industry traditions. We continously try to-->
        <!--accelerate the process of the industry so that both customer and financial-->
        <!--institutions both can do their jobs easily and faster.-->
        <!--</p>-->
        <!--</div>-->
        <!--<div flex></div>-->
        <!--<div flex layout="column" layout-margin layout-align-gt-sm="start center" class="footer-content">-->
        <!--<h3 class="footer-title">Follow Us on Social Media</h3>-->
        <!--<div layout="row" layout-align-gt-sm="center center" class="social-media" layout-margin>-->
        <!--<i class="fa fa-facebook"></i>-->
        <!--<i class="fa fa-twitter"></i>-->
        <!--<i class="fa fa-linkedin"></i>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div flex></div>-->
        <div flex="25" flex-sm="100" flex-xs="100" layout="column" layout-margin class="footer-content">
          <h3 class="footer-title">Contact Us</h3>
          <p> <strong>Phone:</strong> 0124-4326120</p>
          <p> <strong>Email:</strong> contact@finnov.in</p>
          <p>

            <strong>Finnov Private Ltd.</strong><br/>
            Unit 930-A,Tower B, <br/>
            Spaze I-Tech Park,<br/>
            Sector-49,<br/>
            Gurgaon, Haryana,<br/>
            India-122003.
          </p>
        </div>

        <div flex>
          <ng-map center="28.412991, 77.044021" zoom="17">
            <marker position="28.412991, 77.044021" title="Hello World!"></marker>
          </ng-map>
        </div>
        <div flex layout="column" layout-margin layout-align-gt-sm="start center" class="footer-content">
        <h3 class="footer-title">Follow Us on Social Media</h3>
        <div layout="row" layout-align-gt-sm="center center" class="social-media" layout-margin>
        <a href="https://www.facebook.com/Finnov-122987151572641/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
        <!--<i class="fa fa-twitter"></i>-->
        <a href="https://www.linkedin.com/company-beta/13276498/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        </div>
        <!--<div flex></div>-->
      </div>
    </div>
  </div>
</div>

