<div id="home" layout="column" flex>
  <div class="hero" layout="row" flex>
    <img src="/assets/images/mainbg.jpg">
    <div class="hero-content" layout="column" flex layout-align="center center">
      <h1 class="hero-heading">Welcome to Finnov</h1>
      <h5 class="hero-sub-heading">Easy, Fast and quick</h5>
      <div layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-align="center center">
        <md-button class="hero-button md-raised md-primary">
          <md-tooltip>
            Finnov is easy, fast and quick.<br/>
            Just few clicks and you are done.
          </md-tooltip>
          <i class="fa fa-inr" aria-hidden="true"></i>
          Apply For Loan
        </md-button>

        <md-button class="hero-button md-raised">
          <md-tooltip>
            Finnov score helps you checking your eligibility <br/>
            to get any kind of loan.
          </md-tooltip>
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          Know my score
        </md-button>
      </div>
    </div>
  </div>


  <div class="about-us">
    <div layout="row" flex layout-align="center center">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <h1 class="section-title-bg" hide-sm hide-xs>About Finnov</h1>
          <h1 class="section-title">About Finnov</h1>
        </div>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <blockquote>
            <strong>Finnov</strong> is passionate to change the finance industry traditions. We continously try to
            accelerate the process of the industry so that both customer and financial
            institutions both can do their jobs easily and faster.
          </blockquote>
        </div>
      </div>
    </div>

    <div layout="row" flex layout-align="center center" class="mt-80">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-wrap>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center" >
          <i class="fa fa-rocket" aria-hidden="true"></i>
          <h2>Fast</h2>
          <p>Analysis of your credibility in seconds.</p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <h2>Secure</h2>
          <p>Guarantee of not sharing your personal and financial data with anyone. </p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-university" aria-hidden="true"></i>
          <h2>Banks & NBFCs</h2>
          <p>Don't go empty handed, system is backed by financial institutions.</p>
        </div>
        <div flex layout="column" class="about-sub" layout-align-sm="center center" layout-align-xs="center center">
          <i class="fa fa-inr" aria-hidden="true"></i>
          <h2>Best Rates & Tenures</h2>
          <p>We find the best lender for you with best interest rates and tenures.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-dark how-it-works">
    <div layout="row" flex layout-align="center center">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <h1 class="section-title-bg" hide-sm hide-xs>How it Works</h1>
          <h1 class="section-title">How it Works</h1>
        </div>
        <div layout="column" flex-gt-sm="50" flex-sm="100" flex-xs="100">
          <blockquote>
            We always try to keep our customers happy by setting up easy and fast process. For that we are always working hard to improve our system better and better.
            <b>Just a few Clicks and you are done.</b>
            <br/>
            <md-button class="md-accent">
              How it works <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </md-button>
          </blockquote>

        </div>
      </div>
    </div>
    <div layout="row" flex layout-align="center center" hide-sm hide-xs>
      <div flex="85" flex-sm="100" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-wrap>
        <div flex="25" class="process" layout="column">
          <div class="line"></div>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Log in</h3>
          </div>
        </div>
        <div flex="25" class="process" layout="column">
          <div class="line"></div>
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Upload Bank <br/> statement</h3>
          </div>

        </div>

        <div flex="25" class="process" layout="column">
          <div class="line"></div>
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Our Algorithm will<br/> Process it</h3>
          </div>
        </div>

        <div flex="25" class="process" layout="column">
          <div class="line-down"></div>
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Get Finnov Score</h3>
          </div>
        </div>

        <div flex="25" class="process mt-40" layout="column">
          <div class="line-rev"></div>
          <i class="fa fa-inr" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Loan Dispatched</h3>
          </div>
        </div>

        <div flex="25" class="process mt-40" layout="column">
          <div class="line-rev"></div>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Loan Approved</h3>
          </div>
        </div>

        <div flex="25" class="process mt-40" layout="column">
          <div class="line-rev"></div>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Get Best Rates</h3>
          </div>
        </div>

        <div flex="25" class="process mt-40" layout="column">

          <i class="fa fa-address-card-o" aria-hidden="true"></i>
          <div layout="row" layout-align="start center">
            <h3>Upload KYC <br/> documents</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us">
    <div layout="row" flex layout-align="center center">
      <div flex="85" flex-sm="85" flex-xs="100" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-margin>
        <div layout="column" flex="50" flex-sm="100" flex-xs="100">
          <h1 class="section-title-bg" hide-sm hide-xs>Contact Us</h1>
          <h1 class="section-title">Contact Us</h1>
          <div layout="row" layout-wrap class="mt-100" hide-sm hide-xs>
            <img src="../assets/images/contactus.png" class="contact-us-image">
            <!--<md-card flex="40">-->
              <!--<md-card-content layout="row" layout-align="center center">-->
                <!--<i class="fa fa-envelope-open-o contact-icon" aria-hidden="true"></i>-->
                <!--<span class="ml-10">abc@finnov.com</span>-->
              <!--</md-card-content>-->
            <!--</md-card>-->
            <!--<md-card flex="40">-->
              <!--<md-card-content layout="row" layout-align="center center">-->
                <!--<i class="fa fa-phone contact-icon" aria-hidden="true"></i>-->
                <!--<span class="ml-10">012-445-26606</span>-->
              <!--</md-card-content>-->
            <!--</md-card>-->
            <!--<md-card flex="85" >-->
              <!--<md-card-content layout="row" layout-align="start start">-->
                <!--<i class="fa fa-home contact-icon" aria-hidden="true"></i>-->
                <!--<div layout="column" class="ml-10">-->
                  <!--<span>Finnov Private Ltd.</span>-->
                  <!--<span>B-5,403 Palm Grove Heights,</span>-->
                  <!--<span>Sector 52,Gurgaon, </span>-->
                  <!--<span>Haryana, India-122011</span>-->
                <!--</div>-->
              <!--</md-card-content>-->
            <!--</md-card>-->
            <!--<md-card flex="40">-->
              <!--<md-card-content>-->
                <!--Content 1-->
              <!--</md-card-content>-->
            <!--</md-card>-->
          </div>
        </div>
        <div layout="row" flex="50" layout-align="start center" layout-wrap flex-sm="85" flex-xs="100">
          <form name="contactForm" layout="column" flex="100" class="contact-form">
            <md-input-container class="md-accent" >
              <label>Name</label>
              <input type="text" ng-model="home.contact.name"/>
            </md-input-container>
            <md-input-container class="md-accent" >
              <label>Email</label>
              <input type="text" ng-model="home.contact.email"/>
            </md-input-container>
            <md-input-container class="md-accent" >
              <label>Subject</label>
              <input type="text" ng-model="home.contact.subject"/>
            </md-input-container>
            <md-input-container class="md-accent">
              <label>Biography</label>
              <textarea ng-model="home.contact.message" rows="5"></textarea>
            </md-input-container>
          </form>
          <md-button class="md-raised md-accent send-button">
            <i class="material-icons">message</i>
            Send Message
          </md-button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div layout="row" layout-align="center center">
      <div flex="85" layout-gt-sm="row" layout-sm="column" layout-xs="column">
        <div flex="25" flex-sm="100" flex-xs="100" layout="column" layout-margin class="footer-content">
          <h3 class="footer-title">About FINNOV</h3>
          <p>
            <strong>Finnov</strong> is passionate to change the finance industry traditions. We continously try to
            accelerate the process of the industry so that both customer and financial
            institutions both can do their jobs easily and faster.
          </p>
        </div>
        <div flex layout="column" layout-margin layout-align-gt-sm="start center" class="footer-content">
          <h3 class="footer-title">Follow Us on Social Media</h3>
          <div layout="row" layout-align-gt-sm="center center" class="social-media" layout-margin>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
          </div>
        </div>
        <div flex="25" layout="column" layout-margin class="footer-content">
          <h3 class="footer-title">Contact Us</h3>
          <p> <strong>Phone:</strong> 012-445-26606</p>
          <p> <strong>Email:</strong> abc@finnov.com</p>
          <p>

            <strong>Finnov Private Ltd.</strong><br/>
            B-5,403 Palm Grove Heights,<br/>
            Sector-52,<br/>
            Gurgaon, Haryana,<br/>
            India-122011.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

